html,
body
    height 100%
    min-width 1180px
    margin 0
    padding 0
    background-color #F8F8F9
    font 12px/150% Tahoma,Helvetica,Arial,sans-serif
    position static
ol,ul
  list-style none
h1, h2, h3, h4, h5, h6, p, .el-main
  font-size 100%
  padding 0
  margin 0
#app
  font 12px/150% Arial,Verdana,Microsoft YaHei
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50
  height 100%
.table-modal
  height 99%
  min-height 99%
  width 100%
  .el-container
    height 100%
.el-main
  .table-modal
    .content
      padding-top 60px !important
      tbody
        .el-table__row:nth-child(2n) td
          background #F5F7FA
      .title
        font-size 15px
        text-align left
        line-height 34px
.el-table td, .el-table th
  padding 8px 0 !important
thead
  tr
    th
      color #515a6e
      font-weight bold
      font-size 13px
      background #f5f5f6 !important
.el-table__row:nth-child(10) td, .el-table__row:nth-child(18) td, .el-table__row:nth-child(28) td, .el-table__row:nth-child(30) td
  border-top 1px solid #EBEEF5
.el-pagination 
  padding-bottom 60px
.add-membe
  padding 20px
  .el-form-item__content
    display inline-block !important
  .el-form
    margin-top 20px
  .dialog-footer
    margin-bottom 50px
  .tipMessage
    padding-left 110px
  .el-button
    padding 8px 20px
.add-membe .el-form-item
  margin-bottom 12px
.el-tag
  margin 0 8px
.get-tags
  span
    padding-right 20px
    font-size 14px
.font-tip
  span:first-child
    padding-right 15px
